.registerWindow{

    height: 50%;
    min-height: 300px;
    width: 30%;
    min-width: 500px;
    background-color: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
	justify-content: center;	
    align-items: center;	
    border-radius: 10px;
    box-shadow: black 0 0 10px;
    

}

.registerWindow .inputUnit{
    display: flex;
    height: 12%;
    width: 90%;
    flex-direction: row;
    align-items: center;
}
.registerWindow .inputUnit img{
    
    height: 90%;
}
.registerWindow .inputUnit input{
    height: 100%;
    flex-grow: 1;
    border: #aaaaaa solid 1px;
    text-indent: 1em;
    box-sizing: border-box;
    font-size: 1.2em;
    
}



.registerWindow .inputUnit .inputPhone{
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.registerWindow .inputUnit .inputEmail{
    border-bottom: none;
}

.registerWindow .inputUnit .inputPassword{
    border-bottom: none;
}

.registerWindow .inputUnit .inputRepeatPassword{
    border-radius: 0 0 10px 10px;
}

.registerWindow button{
    height: 12%;
    width: 90%;
    border: #aaaaaa solid 1px;
    box-sizing: border-box;
    font-size: 1.5em;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-indent: 0;
}

.registerWindow .buttonRegister{

    border-radius: 10px 10px 0 0;
    background-color: #3498db;
    
    margin-top: 2%;
    border-bottom: none;
    
}

.registerWindow .buttonToLogin{

    border-radius: 0 0 10px 10px;
    background-color: #ff6666;
}