<div id="window">
    <div id="login_window">
        <span id="topic">欢迎来到心领诚会会议平台!</span>
        <span id="tip">请登录你的企业账号</span>
        <div class="GetInput">
            <input type="text" placeholder="账号">
            <span>@</span>
        </div>
        <div class="GetInput">
            <input type="password" placeholder="密码">
            <span>*</span>
        </div>
        <div id="help">
            <a href="#">忘记密码?</a> |
            <a href="#">帮助</a>
        </div>
        <button id="loginIn" (click)='toPage("self")'>登录</button>

    </div>
</div>