<div id='window'>
  <div id="navigation">
    <div id="navigation_body">
        <div id="self_information">
            <div id="self_information_left">
                <a href="#">账号:  417165709</a>
                <a id="return" (click)='toPage("login")'>退出登录</a>
  
            </div>
            <div id="self_information_right">
                <img src="assets/img/set.png" width="40" height="40" alt="">
            </div>
        </div>
        <div id="search">
            <input type="text" placeholder="查找">
            <img src="assets/img/search.png" width="25" height="25" id="begin_search">
        </div>
        <div id="enter">
            <a href="#">进入企业专属页面</a>
        </div>
    </div>
  
  </div>
  <div id="body">
    <div id="content">
        <div id="content_left">
            <div id="display_window">
                <div id="showImg_window">
                    <ul id="display_ul">
                        <li>
                          <img src="assets/img/show1.png" alt="">
                        </li>
                        <li>
                            <img src="" alt="">
                        </li>
                        <li>
                            <img src="" alt="">
                        </li>
                        <li>
                            <img src="" alt="">
                        </li>
                        <li>
                            <img src="" alt="">
                        </li>
  
                    </ul>
                    <div id="choice_point">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
  
  
  
            </div>
            <div id="list">
                <div class="item">
                    <img src="assets/img/WuYZ.jpg" alt="">
                    <div class="person">
                        <div class = "person_up">
                            <a class="person_name">吴彦祖</a>
                            <a class="person_time">Sun</a>
                        </div>
                        <div class = "person_down">
                            <a class="person_cnt">宝贝吃饭没有啊!</a>
                        </div>
  
  
                    </div>
  
  
                </div>
                <div class="item">
                  <img src="assets/img/WuYZ.jpg" alt="">
                    <div class="person">
                        <div class = "person_up">
                            <a class="person_name">吴彦祖</a>
                            <a class="person_time">Sun</a>
                        </div>
                        <div class = "person_down">
                            <a class="person_cnt">你好骚鸭!</a>
                        </div>
  
  
                    </div>
  
  
                </div>
                <div class="item">
                  <img src="assets/img/WuYZ.jpg" alt="">
                    <div class="person">
                        <div class = "person_up">
                            <a class="person_name">Felix Freed</a>
                            <a class="person_time">Sun</a>
                        </div>
                        <div class = "person_down">
                            <a class="person_cnt">www.baidu.com</a>
                        </div>
  
  
                    </div>
  
  
                </div>
                <div class="item">
                    <img src="assets/img/WuYZ.jpg" alt="">
                    <div class="person">
                        <div class = "person_up">
                            <a class="person_name">Felix Freed</a>
                            <a class="person_time">Sun</a>
                        </div>
                        <div class = "person_down">
                            <a class="person_cnt">www.baidu.com</a>
                        </div>
  
  
                    </div>
  
  
                </div>
                <div class="item">
                  <img src="assets/img/WuYZ.jpg" alt="">
                    <div class="person">
                        <div class = "person_up">
                            <a class="person_name">Felix Freed</a>
                            <a class="person_time">Sun</a>
                        </div>
                        <div class = "person_down">
                            <a class="person_cnt">www.baidu.com</a>
                        </div>
  
  
                    </div>
  
  
                </div>
                <div class="item">
                  <img src="assets/img/WuYZ.jpg" alt="">
                    <div class="person">
                        <div class = "person_up">
                            <a class="person_name">Felix Freed</a>
                            <a class="person_time">Sun</a>
                        </div>
                        <div class = "person_down">
                            <a class="person_cnt">www.baidu.com</a>
                        </div>
  
  
                    </div>
  
  
                </div>
                <div class="item">
                  <img src="assets/img/WuYZ.jpg" alt="">
                    <div class="person">
                        <div class = "person_up">
                            <a class="person_name">Felix Freed</a>
                            <a class="person_time">Sun</a>
                        </div>
                        <div class = "person_down">
                            <a class="person_cnt">www.baidu.com</a>
                        </div>
  
  
                    </div>
  
  
                </div>
            </div>
        </div>
        <div id="content_right">
            <a href="#">会议资料导入</a>
            <a href="#">会议设置</a>
            <a href="#">资源共享</a>
            <a href="#">会议历史记录</a>
            <a href="#">特殊功能菜单</a>
            <a href="#">日程安排</a>
            <a id="beginMeeting" (click)='toPage("enter")'>开始会议</a>
            <a href="#">企业大家庭</a>
  
        </div>
    </div>
  
  </div>
</div>