



.windowLogin{

    height: 50%;
    min-height: 370px;
    width: 30%;
    min-width: 500px;
    background-color: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
	justify-content: center;	
    align-items: center;	
    border-radius: 10px;
    box-shadow: black 0 0 10px;
    

}
/* width,padding-bottom要相等 */
.windowLogin .imgUnit{
    width:25%;
    height:0px;
    padding-bottom:25%;
    position:relative;
    margin-bottom: 5%;

}
.windowLogin .imgUnit img{
    width:100%;
    height:100%;
    position:absolute;
    border-radius: 50%;
    box-shadow: 0 0 30px black;
    cursor: pointer;

}




.windowLogin .inputUnit{
    height: 12%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.windowLogin .inputUnit input{
    font-size: 1.2em;
    border: #aaaaaa solid 0.5px;
    text-indent: 1em;
    box-sizing: border-box;
    
    height: 100%;
    flex-grow: 1;
}

.windowLogin .inputUnit img{
    
    height: 90%;
}


.windowLogin .inputUnit .inputUsername{
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.windowLogin .inputUnit .inputPassword{
    border-radius: 0 0 10px 10px;
}


.windowLogin button{
    height: 12%;
    width: 90%;
    border: #aaaaaa solid 1px;
    text-indent: 1em;
    box-sizing: border-box;
    font-size: 1.5em;
    color: white;
    text-indent: 0;
}



.windowLogin .buttonLogin{
    
    border-radius: 10px 10px 0 0;
    background-color: #3498db;

    font-weight: bolder;
    margin-top: 2%;
    border-bottom: none;
    cursor: pointer;
}

.windowLogin .buttonGoToRegister{

    border-radius: 0 0 10px 10px;
    background-color: #ff6666;
    font-weight: bolder;
    cursor: pointer;
}

