<div class="toolWindow">
    <div class='close' (click) = 'callFatherExecClose()'>
      <img src="assets/img/close.ico" alt="">
    </div>
    <div class='imgUnit'>
        <img [src]="tmpUrl===undefined|| tmpUrl==='' ||tmpUrl===null?'assets/img/default.jpg':tmpUrl"  alt="">
    </div>
    <div class='inputUnit'>
        <input type="file" ng2FileSelect [uploader]="uploader" (change)="listenFileChanged($event)" /> 
        <button (click)="askForChangingUserPhoto()">确定修改</button>
    </div>
  </div>
  